.fitur-kami-container {
    text-align: center;
    padding: 20px;
  }
  
  .judul-fitur-kami h2 {
    font-size: 24px;
   margin: 0;
  }
  
  .gambar-fitur-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  
  .gambar-fitur {
    max-width: 200px;
    text-align: center;
  }
  
  .gambar-fitur img {
    max-width: 100%;
    border-radius: 10px; /* Membuat gambar berbentuk lingkaran */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efek bayangan */
    width: 450px;
    height: 200px;
  }
  
  .gambar-fitur p {
    margin-top: 10px;
    font-weight: bold;
  }
  