/* Navbar container */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%; /* Lebar penuh dari viewport */
}

  .navbar-brand img {
    max-height: 100px; /* Sesuaikan ukuran logo sesuai keinginan Anda */
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
    margin-left: auto; /* Memindahkan menu navigasi ke sebelah kanan */
  }
  
  .nav-item {
    margin-right: 20px; /* Jarak antara menu item */
    color: #34A8CD;
    font-size: 20px;
  }

  .navbar {
    background-color: #fff; /* Warna latar belakang navbar */
    max-width: 100%; /* Lebar maksimum 100% dari container */
    width: auto; /* Lebar sesuai konten */
  }
  
  .nav-link {
    color: #34A8CD; /* Warna teks menu */
    text-decoration: none; /* Hapus garis bawah dari tautan */
    font-weight: bold; /* Ketebalan font menu */
    transition: color 0.3s; /* Transisi perubahan warna saat hover */
    
  }
  
  .navbar-expand-lg {
    padding: 10px 0; /* Atur padding sesuai kebutuhan Anda */
  }

  .navbar-nav .nav-link {
    color: #64a4ee; /* Warna teks menu */
    text-decoration: none; /* Hapus garis bawah dari tautan */
    font-weight: bold; /* Ketebalan font menu */
    transition: color 0.3s; /* Transisi perubahan warna saat hover */
  }
  
  .navbar-nav .nav-link:hover {
    color: #b0e0f3; /* Ganti dengan warna yang Anda inginkan saat dihover */
  }

  /* Tambahkan media query untuk ukuran layar yang lebih kecil, misalnya 768px */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Atur flex-direction ke kolom */
    align-items: flex-start; /* Geser item ke kiri */
  }

  .navbar-nav {
    margin: 20px 0; /* Atur margin pada menu navigasi */
  }

  .nav-item {
    margin: 10px 0; /* Atur margin pada setiap item menu */
  }
}
